body {
}

#track {
    overflow: hidden;
    position: relative;
    display: none;
}

#cvs {
    position: absolute; 
}

#define {
    display: none;
    position: fixed;
    right: 0px;
    top: 0px;
    border-radius: 5px 0px 5px 5px;
    border: 1px solid;
    padding: 5px;
    background: #ccc;
    padding-right: 15px;
}

#acceltbl {
    display: none;
}

#acceleration {
    width: 18em;
    display: none;
    position: fixed;
    right: 0px;
    top: 0px;
    border-radius: 5px 0px 5px 5px;
    border: 1px solid;
    padding: 5px;
    background: #ccc;
    padding-right: 15px;
}

#acceleration table {
    float: left;
}

#acceleration td {
    width: 2em;
    height: 2em;
    text-align: center;
    vertical-align: middle;
/*    background: gold; */
    border-radius: 3px;
}

.accelerate {
    border-style: outset;
}

#acceleration span {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none; 
}

#messages {
    display: none;
    position: absolute;
    background: #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 200%;
}

.playerSpot {
    padding-left: 1em;
    border-radius: .5em;
}

#turnform {
    clear: both;
    text-align: center;
}

#turnform button {
    font-size: 100%;
    margin-top: 1em;
    margin-left: auto;
}